$txt-default: #202020;
$txt-secondary: #fff;
$txt-tertiary: #666666;
$txt-placeholder: #999999;
$txt-button: #444;

$bg-nav: #fcfaf8; 
$bg-primary: #d33322;
$bg-secondary: rgba(0,0,0,.04);
$bg-white: #fff;
$bg-yellow: #eb890b;
$bg-blue: #256fe0;

$hover-primary: #ffefe4;
$hover-secondary: #f2efec;
$hover-tertiary: #f5f5f5;

$shadow-primary: 0 0 8px rgba(0, 0, 0, 0.12);
$shadow-secondary: 0 1px 8px rgba(0, 0, 0, .08), 0 0 1px rgba(0, 0, 0, .3);

$border-primary: #e6e6e6;
