.button {
    position: relative;
    display: inline-block;
    padding: 8px 12px;
    @include font(16px, 1, #fff);
    border-radius: 4px;

    &-primary {
        @include inlineFlexCenter;
        gap: 4px;
        background-color: $bg-primary;
    }

    &-secondary {
        background-color: $bg-secondary;
        color: $txt-button;
    }

    &-tertiary {
        @include inlineFlexCenter;
        gap: 2px;
        background-color: transparent;
        border: 1px solid $border-primary;
        border-radius: 4px;
        padding: 4px;
        color: $txt-tertiary;
    }

    &-transparent {
        @include inlineFlexCenter;
        gap: 4px;
        border: none;
        color: $txt-tertiary;
        padding: 2px 6px;
    }

    svg {
        &:hover {
            background-color: $bg-secondary;
        }
    }
}